<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div id="side-bar">
      <img class="logo" src="assets/img/todo-logo.png">

      <a color="primary" class="side-bar-button" mat-stroked-button routerLink="/tasks">Tasks</a>

      <a color="primary" class="side-bar-button" mat-stroked-button routerLink="/users">Users</a>

      <a color="primary" class="side-bar-button" mat-stroked-button routerLink="/tags">Tags</a>
    </div>
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
